*.o
ncurses-5.9/
SDL2-2.0.0/
ParadoxParser-master/
front
*.ps1
*.aux
*.log

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exe

# Compiled Static libraries
*.lai
*.la
*.a

